.MessageInput {
  margin-left: 15%;
  background-color: teal;
  bottom: 0;
}
.secondaryRow2 {
  padding-top: 1%;
}
.messageContent {
  width: 20%;
  bottom: 0;
}
.sendBtn {
  font-size: 220%;
  width: 75%;
  margin-left: 10%;
  margin-bottom: 0;
  padding-left: 7%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 85%;
  height: 18%;
}
.col .row {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  #footer {
    width: 82%;
    bottom: 0;
    height: 12%;
    margin-left: 20%;
  }

  .secondaryRow2 {
    width: 99%;
    padding-right: 10%;
  }
  .messageContent {
    overflow: auto;
  }

  .sendBtn{
      font-size: 13px;
      width: 50px;
      padding-left:7px;
      margin-top: 10px;
  }
}
