#sideBar {
  height: 100%;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
}
.groupMessageDiv {
  height: 9%;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
  padding: 9%;
}
.directMessageDiv {
  height: 9%;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
  padding: 9%;
}

#mainRow {
  height: 100%;
  width: 15%;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
  text-align: center;
  position: fixed;
  overflow-y: auto;
  margin-top: auto;
}
.groupMessages {
  background-color: teal;
  color: white;
  margin: 0;
}
.directMessages {
  background-color: teal;
  color: white;
  margin-bottom: 0;
}

.newConvoBtn {
  margin-top: 10%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
  height: 10%;
  padding-bottom: 40%;
}
